/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
  font-family: 'PT Sans', Arial, sans-serif; 
}
* {
  font-family: 'PT Sans', Arial, sans-serif;
}

body {
  color: #fff;
  background-image: url("../media/uccblur.jpg");
  background-repeat: repeat-y;
  overflow-x: hidden;
}



/*==========================================================

BOOTSTRAP 

==========================================================*/

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 60px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing {
    margin-top: 15px;
}



/*==========================================================

NON-BOOTSTRAP

==========================================================*/

/* Header and Animation */
.jumboHead {
  width:100vw;
  background-color: rgba(130, 130, 210, .3);
  z-index: 10;

  /* add transitions and combine with JS to retreat the jumbo */

  -webkit-animation: introDrop 2s; /*change to alternate for reverse*/
  animation: introDrop 2s;

  margin-top: -30px;
}

@-webkit-keyframes introDrop {
    0%   {margin-top: -300px;}
    100% {margin-top: -30px;}
}

@keyframes introDrop {
    0%   {margin-top: -300px;}
    100% {margin-top: -30px;}
}

.jumboHeadReverse {
  width:100vw;
  background-color: rgba(130, 130, 210, .3);
  z-index: 10;

  -webkit-animation: selectionRetreat 2s;
  animation: selectionRetreat 2s;

  margin-top: -300px;
}

@-webkit-keyframes selectionRetreat {
    0%   {margin-top: -30px;}
    100% {margin-top: -300px;}
}

@keyframes selectionRetreat {
    0%   {margin-top: -30px;}
    100% {margin-top: -300px;}
}

/* ------------------- */


/* Header Text and Animation */
.jumboHead h1 {
  font-size: 20pt;
}

.jumboHeadReverse h1 {
  font-size: 20pt;
}

.jumboHead h1, p {
  z-index: 1;
  -webkit-animation: introHead 3s;
  animation: introHead 3s;
}

@-webkit-keyframes introHead {
    0%   {opacity: 0;}
    20%  {opacity: 0;}
    30%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes introHead {
    0%   {opacity: 0;}
    20%  {opacity: 0;}
    40%  {opacity: 0;}
    100% {opacity: 1;}
}

/* ------------------- */


/* Option buttons and Animation */
.options {
  width: 320px;
  height: auto;
  z-index: -1;

  -webkit-transition: all 1.5s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 1.5s;
  -o-transition: all 1.5s;
  transition: all 1.5s;

  -webkit-animation: introPop 4s;
  animation: introPop 4s;
}

@-webkit-keyframes introPop {
    0%   {width: 0px; visibility: hidden;}
    20%  {width: 0px;}
    50%  {width: 0px;}
    100% {width: 320px; visibility: visible;}
}

@keyframes introPop {
    0%   {width: 0px; visibility: hidden;}
    20%  {width: 0px;}
    50%  {width: 0px;}
    100% {width: 320px; visibility: visible;}
}

.options:hover {
  width: 350px;
  margin-left: -7px;
}

#patientOp {
  opacity: 1;
}

#clinicOp {
  opacity: 1;
}


.optionsHidden {
  width: 0px;
  height: auto;
  z-index: -1;

  -webkit-transition: all .5s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;

  -webkit-animation: dePop 1.5s;
  animation: dePop 1.5s;
}

@-webkit-keyframes dePop {
    0%   {width: 320px; visibility: visible;}
    100% {width: 0px; visibility: hidden;}
}

@keyframes dePop {
    0%   {width: 320px; visibility: visible;}
    100% {width: 0px; visibility: hidden;}
}


/* ------------------- */


/* Options Header style*/
.optionsHeader {
  color: #eee;
  /*background-color: rgba(130, 130, 210, .8);*/
  background: -webkit-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* Standard syntax (must be last) */
  padding: 10px;
  border-style: solid;
  border-radius: 30px;
  border-color: rgba(0,0,0,0);

  -webkit-transition: all 2s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;

  -webkit-animation: introHead 5s;
  animation: introHead 5s;
}

.optionsHeaderHide {
  opacity: 0;
  color: #eee;
  /*background-color: rgba(130, 130, 210, .8);*/
  background: -webkit-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* Standard syntax (must be last) */
  padding: 10px;
  border-style: solid;
  border-radius: 30px;
  border-color: rgba(0,0,0,0);

  -webkit-transition: all 2s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;

  -webkit-animation: fade 1s;
  animation: fade 1s;
}

@-webkit-keyframes fade {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

@keyframes fade {
    0%   {opacity: 1;}
    100% {opacity: 0;}
}

/* ------------------- */

/* Selection box
-----------------------*/

#selectionBox {
  display: none;
  opacity: 0;
}

.selectionOptions {
  opacity: 0;
  width: 0px;
}

@-webkit-keyframes selectionOptions {
  0% {opacity: 0; width: 0px;}
  25% {opacity: 0; width: 0px;}
  100% {opacity: 1; width: 220px;}
}

@keyframes selectionOptions {
  0% {opacity: 0; width: 0px;}
  25% {opacity: 0; width: 0px;}
  100% {opacity: 1; width: 220px;}
}

@-webkit-keyframes selectionOptionsRev {
  0% {opacity: 1; width: 220px;}
  25% {opacity: 1; width: 220px;}
  100% {opacity: 0; width: 0px;}
}

@keyframes selectionOptionsRev {
  0% {opacity: 1;  width: 220px;}
  25% {opacity: 1; width: 220px;}
  100% {opacity: 0; width: 0px;}
}

@-webkit-keyframes introSelection {
    0%   {opacity: 0; display: none;}
    20%  {opacity: 0; display: none;}
    30%  {opacity: 0; display: none;}
    100% {opacity: 1; display: block;}
}

@keyframes introSelection {
    0%   {opacity: 0; display: none;}
    20%  {opacity: 0; display: none;}
    40%  {opacity: 0; display: none;}
    100% {opacity: 1; display: block;}
}


@-webkit-keyframes introSelectionRev {
    0%   {opacity: 1; display: block;}
    20%  {opacity: 1; display: block;}
    30%  {opacity: 1; display: block;}
    100% {opacity: 0; display: none;}
}

@keyframes introSelectionRev {
    0%   {opacity: 1; display: block;}
    20%  {opacity: 1; display: block;}
    40%  {opacity: 1; display: block;}
    100% {opacity: 0; display: none;}
}

.selectionHeader {
  color: #eee;
  font-size: 16pt;
  background: -webkit-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* Standard syntax (must be last) */
  padding: 10px;
  border-style: solid;
  border-radius: 30px;
  border-color: rgba(0,0,0,0);

  -webkit-transition: all 2s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

@-webkit-keyframes newSelections {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes newSelections {
    0%   {opacity: 0;}
    100% {opacity: 1;}
}

/*==========================================================*/
