/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

@font-face {
  font-family: 'PT Sans', Arial, sans-serif; 
}
* {
  font-family: 'PT Sans', Arial, sans-serif;
}

body {
  color: #fff;
  background-image: url("../media/uccblur.jpg");
  background-repeat: repeat-y;
  overflow-x: hidden;
}



/*==========================================================

BOOTSTRAP 

==========================================================*/

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 60px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

.marketing {
    margin-top: 15px;
}



/*==========================================================

NON-BOOTSTRAP

==========================================================*/

/* Header and Animation */
.jumboHead {
  width:100vw;
  background-color: rgba(130, 130, 210, .3);
  z-index: 10;

  /* add transitions and combine with JS to retreat the jumbo */

  -webkit-animation: introDrop 2s; /*change to alternate for reverse*/
  animation: introDrop 2s;

  margin-top: -30px;
}

@-webkit-keyframes introDrop {
    0%   {margin-top: -400px;}
    100% {margin-top: -30px;}
}

@keyframes introDrop {
    0%   {margin-top: -400px;}
    100% {margin-top: -30px;}
}

.jumboHeadReverse {
  width:100vw;
  background-color: rgba(130, 130, 210, .3);
  z-index: 10;

  -webkit-animation: selectionRetreat 2s;
  animation: selectionRetreat 2s;

  margin-top: -340px;
}

@-webkit-keyframes selectionRetreat {
    0%   {margin-top: -30px;}
    100% {margin-top: -340px;}
}

@keyframes selectionRetreat {
    0%   {margin-top: -30px;}
    100% {margin-top: -340px;}
}

/* ------------------- */


/* Header Text and Animation */
.jumboHead h1 {
  font-size: 20pt;
}

.jumboHeadReverse h1 {
  font-size: 20pt;
}

.jumboHead h1, p {
  z-index: 1;
  -webkit-animation: introHead 4s;
  animation: introHead 4s;
}

@-webkit-keyframes introHead {
    0%   {opacity: 0;}
    20%  {opacity: 0;}
    30%  {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes introHead {
    0%   {opacity: 0;}
    20%  {opacity: 0;}
    40%  {opacity: 0;}
    100% {opacity: 1;}
}

/* ------------------- */


/* Option buttons and Animation */
.options {
  width: 320px;
  height: auto;
  z-index: -1;

  -webkit-transition: all 2s, width 1s, margin-left .3s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 2s, width 1s, margin-left .3s;
  -o-transition: all 2s, width 1s, margin-left .3s;
  transition: all 2s, width 1s, margin-left .3s;

  -webkit-animation: introPop 4s;
  animation: introPop 4s;
}

@-webkit-keyframes introPop {
    0%   {width: 0px;}
    20%  {width: 0px;}
    50%  {width: 0px;}
    100% {width: 320px;}
}

@keyframes introPop {
    0%   {width: 0px;}
    20%  {width: 0px;}
    50%  {width: 0px;}
    100% {width: 320px;}
}

.options:hover {
  width: 350px;
  margin-left: -7px;
}

#patientOp {
  width: 320px;
  height: auto;
  margin-left: 0px;
  opacity: 1;
  z-index: -1;

  -webkit-transition: all 2s, width 1s, margin-left .3s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 2s, width 1s, margin-left .3s;
  -o-transition: all 2s, width 1s, margin-left .3s;
  transition: all 2s, width 1s, margin-left .3s;

  -webkit-animation: introPopP 4s;
  animation: introPopP 4s;
}

#patientOp:hover {
  width: 350px;
  margin-left: -10px;
}

@-webkit-keyframes introPopP {
    0%   {width: 0px;}
    20%  {width: 0px;}
    50%  {width: 0px;}
    100% {width: 320px;}
}

@keyframes introPopP {
    0%   {width: 0px;}
    20%  {width: 0px;}
    50%  {width: 0px;}
    100% {width: 320px;}
}

#clinicOp {
  opacity: 1;
}

/* ------------------- */


/* Options Header style*/
.optionsHeader {
  color: #eee;
  /*background-color: rgba(130, 130, 210, .8);*/
  background: -webkit-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* Safari 5.1 to 6.0 */
  background: -o-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* For Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* For Firefox 3.6 to 15 */
  background: radial-gradient(rgba(80, 80, 160, .7), rgba(100, 100, 180, .7), rgba(130, 130, 210, .7)); /* Standard syntax (must be last) */
  padding: 10px;
  border-style: solid;
  border-radius: 30px;
  border-color: rgba(0,0,0,0);

  -webkit-transition: all 2s; /* For Safari 3.1 to 6.0 */
  -moz-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;

  -webkit-animation: introHead 7s;
  animation: introHead 7s;
}

/* ------------------- */

/*==========================================================*/
